<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Syndesis UX design tracker">
    <meta name="author" content="Syndesis UX Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <!-- jQuery -->
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!-- PatternFly JS -->
    <script src="/assets/js/vendor/patternfly.min.js"></script>
    <!-- Site JS -->
    <script src="/assets/js/designSearch.js"></script>
    <script src="/assets/js/designSort.js"></script>
  </head>
  <body>
