@import "vendor/font-awesome.scss";
@import "vendor/patternfly/_variables.scss";

body { font-size: $fa-font-size-base; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.sort {
  &::after {
    margin-left: 5px;
    font-family: FontAwesome;
    content: '\f0dc';
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.filter-control {
  list-style: none;
  padding: 0 5px;
  li {
    color: $color-pf-black;
    margin: 2px 0;
    padding: 5px;
  }
}
.status-list {
  .legend {
    color: $color-pf-black;
    text-align: right;
  }
  padding: 0 5px;
  list-style: none;
  li {
    margin: 2px 0;
    padding: 5px;
  }
}
.table-view-pf-toolbar.toolbar-pf {margin-top: -20px; }
