@import "vendor/patternfly/_variables.scss";

.green { background-color: $color-pf-green-200 !important; }
.blue { background-color: $color-pf-blue-200 !important; }
.light-blue { background-color: $color-pf-blue-100 !important; }
.light-blue-text { color: $color-pf-black !important; }
.orange { background-color: $color-pf-orange-200 !important; }
.purple {
  background-color: $color-pf-purple-200 !important;
  color: $color-pf-white !important;
}
.red {
  background-color: $color-pf-red-100 !important;
  color: $color-pf-white !important;
}
