  {% include header.html %}
    {% include nav.html %}
    <style>
      .hide { display: none; }
    </style>
    <!-- Toolbar -->
    {% include design-toolbar.html %}
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
        </div>
        {% if page.navbar_active == 'home' %}
          {% include design-legend.html %}
        {% endif %}
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div><!-- /.container -->
    </section>
    <script>
    $("table").addClass("table table-striped table-bordered table-hover").attr("id", "designTable");
    // $("table").attr("id", "myTable2");
    $("table>tbody>tr>td>a").attr("target", "top");
    $("table>tbody>tr>td:contains('Needs Updates')").addClass("orange");
    $("table>tbody>tr>td:contains('Needs Review')").addClass("red");
    $("table>tbody>tr>td:contains('UXD Verified')").addClass("green");
    $("table>tbody>tr>td:contains('Ready for Dev')").addClass("blue");
    $("table>tbody>tr>td:contains('In Progress')").addClass("light-blue");
    $("table>tbody>tr>td:contains('Not Yet Started')").addClass("purple");
    </script>
  {% include footer.html %}
