  {% include header.html %}
    {% include nav.html %}
    <style>
      .hide { display: none; }
    </style>
    <!-- Toolbar -->
    {% include design-toolbar.html %}
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
        </div>
        {% if page.navbar_active == 'home' %}
          {% include design-legend.html %}
        {% endif %}
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div><!-- /.container -->
    </section>
  {% include footer.html %}
